.grid {
  display: flex;
  justify-content: right;
}
.filter {
  display: flex;
  align-content: center;
  justify-content: center;
}
.logo {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 4em;
}
.logo__container {
  width: 150px;
  height: 150px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  outline: 1px;
  border-radius: 50%;
  border: 1px solid #ccc !important;
}
.logo__rocket {
  width: 50px !important;
  height: 50px;
}
