.article {
}
.article__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.article__photo {
  width: 200px;
  height: 200px;
}

.article__item__left {
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: 4em;
}

.article__item__right {
  display: flex;
  justify-content: left;
  flex-direction: column;
}

.article__grid {
  margin: 4em 0 4em 0;
}

.article__item__container {
  margin: 2em 0 2em 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.article__seemore {
  text-align: center;
  width: 100px;
  height: 50px;
  color: #fff !important;
  background: var(--primary-dark) !important;
}

.article__item__title {
  font-size: 1.5rem !important;
  font-weight: 700 !important;
  line-height: 1.2 !important;
  letter-spacing: 0.0105em;
}

.article__item__date {
  font-size: 1rem !important;
  font-weight: 300 !important;
  color: "grey";
  line-height: 1.2 !important;
  letter-spacing: 0.0105em;
}

.article__item__button {
  font-size: 0.75rem !important;
  font-weight: 300 !important;
  line-height: 1.2 !important;
  letter-spacing: 0.0105em;
  background: var(--primary-dark) !important;
  color: #fff !important;
}

.MuiButton-label {
  font-weight: 300 !important;
  font-size: 0.5rem !important;
}
